h1 {
  color: red; }

body {
  overflow: hidden; }

.app {
  width: 100vw; }

.nav-effect {
  border-radius: 10px; }

.nav-effect:hover {
  background-color: gray; }

#thumnail {
  max-width: 100%;
  display: block;
  margin: auto;
  height: auto; }

@media only screen and (max-width: 1023px) {
  .table-of-content,
  .other-blog {
    display: none; } }

.table-of-content .heading1 {
  font-size: 1.7rem;
  margin-top: 1.5rem; }

.table-of-content .heading2 {
  font-size: 1.5rem; }

.table-of-content .heading3 {
  font-size: 1rem; }

.table-of-content .heading1 a, .table-of-content .heading2 a, .table-of-content .heading3 a {
  text-decoration: none;
  color: gray;
  opacity: 0.7; }

.table-of-content .heading1 a:hover, .table-of-content .heading2 a:hover, .table-of-content .heading3 a:hover {
  opacity: 1; }
