* {
  margin: 0;
  padding: 0; }

body {
  margin: 1.5rem 3rem;
  min-height: 1vh; }

.blog-content img {
  width: 100%; }

.width-inherit {
  width: inherit; }

.nav-effect {
  border-radius: 10px; }

.nav-effect:hover {
  background-color: gray; }

#thumnail {
  max-width: 80%;
  display: block;
  margin: auto;
  height: auto; }

@media only screen and (max-width: 992px) {
  .table-of-content {
    display: none; }
  body {
    margin: 0; } }

.blog-body--tag {
  display: flex; }
  .blog-body--tag .tag-item {
    margin-left: 1rem;
    cursor: pointer;
    opacity: 0.8;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0 1rem;
    transition: all 0.2s; }
  .blog-body--tag .tag-item:hover {
    opacity: 1;
    border: 1px black solid; }
  .blog-body--tag .JavaScript {
    color: #febc58; }
  .blog-body--tag .Web {
    color: #00b7ff; }
  .blog-body--tag .Theory {
    color: black; }
  .blog-body--tag .Chuyen_linh_tinh {
    color: brown; }

.blog-body--title {
  font-weight: 700;
  font-size: 3.5rem; }

.blog-body--title::after {
  display: block;
  content: "";
  height: 2px;
  width: 20%;
  background-color: black; }

.blog-body--time {
  font-style: italic;
  text-align: right;
  font-size: 1rem; }

.blog-body img {
  border-radius: 0.5rem; }

.blog-body .blog-content h1 {
  color: red; }

.table-of-content .heading1 {
  font-size: 1.7rem;
  margin-top: 1.5rem; }

.table-of-content .heading2 {
  font-size: 1.2rem; }

.table-of-content .heading3 {
  font-size: 1rem; }

.table-of-content .heading1 a,
.table-of-content .heading2 a,
.table-of-content .heading3 a {
  text-decoration: none;
  color: gray;
  opacity: 0.7; }

.table-of-content .heading1 a:hover,
.table-of-content .heading2 a:hover,
.table-of-content .heading3 a:hover {
  opacity: 1; }

.boradius-05 {
  border-radius: 0.5rem !important; }

.boradius-1 {
  border-radius: 1rem !important; }

.boradius-2 {
  border-radius: 2rem !important; }

.boradius-3 {
  border-radius: 3rem !important; }

.blog_list .blog-card {
  position: relative;
  cursor: pointer;
  height: 20rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.274); }
  .blog_list .blog-card .blog-thumnail {
    width: 100%;
    height: 65%;
    overflow: hidden;
    position: relative;
    border-radius: 1rem 1rem 0 0; }
    .blog_list .blog-card .blog-thumnail img {
      position: absolute;
      width: 100%;
      top: -25%;
      transition: all 0.8s; }
    .blog_list .blog-card .blog-thumnail img:hover {
      transform: scale(1.1); }
  .blog_list .blog-card .blog-title {
    margin-top: 1rem;
    font-size: 1.7rem;
    margin-left: 1.3rem; }
  .blog_list .blog-card .blog-date {
    position: absolute;
    right: 3%;
    bottom: 3%;
    font-size: 1rem; }

.profile-picture {
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer; }
  .profile-picture img {
    width: 100%; }

#logout-dropdown {
  display: none; }

#comment-component .comment-title {
  font-size: 3rem;
  margin-bottom: 2rem; }

#comment-component .comment-display .single-comment {
  margin-bottom: 2rem;
  border-radius: 10px;
  height: auto;
  border: black solid 1px;
  box-shadow: 0.5rem 0.5rem 10px rgba(0, 0, 0, 0.26);
  padding-bottom: 2rem; }
  #comment-component .comment-display .single-comment .display-name {
    overflow: hidden;
    word-wrap: break-word;
    padding-top: 0.5rem;
    padding-left: 2rem;
    font-weight: 700;
    width: 100%; }
  #comment-component .comment-display .single-comment .comment-time {
    padding-left: 2rem;
    font-size: 0.8rem; }
  #comment-component .comment-display .single-comment .comment-content {
    word-wrap: break-word;
    color: red;
    padding-top: 0.3rem;
    padding-left: 2rem;
    width: 100%; }

.footer-icon {
  font-size: 1.5rem; }

#about-me {
  background-color: blanchedalmond;
  z-index: -3; }
  #about-me .port-picture {
    width: 40%;
    position: relative;
    z-index: 3; }
  #about-me .port-pictureContainer {
    position: relative; }
    #about-me .port-pictureContainer .picture-content {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      #about-me .port-pictureContainer .picture-content .right-greeting,
      #about-me .port-pictureContainer .picture-content .left-greeting {
        font-size: 4vw;
        padding-bottom: 15rem;
        min-width: 30%;
        text-align: center; }
  #about-me .port-pictureContainer::after {
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 57%; }
  #about-me .favorite-things .favorite-title {
    padding-left: 3.5rem;
    font-size: 4vw; }
  #about-me .favorite-things .favorite-container {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around; }
    #about-me .favorite-things .favorite-container .favorite-item {
      width: 20%; }
      #about-me .favorite-things .favorite-container .favorite-item img {
        width: 100%; }
  #about-me .purpose-title,
  #about-me .thank-title {
    padding-left: 3.5rem;
    font-size: 4vw;
    margin-top: 3rem; }
  #about-me .thank-title {
    color: red; }
  #about-me .purpose-content,
  #about-me .thank-content {
    margin-top: 3rem;
    padding-left: 3.5rem;
    font-size: 2vw; }
  #about-me .thank-content {
    padding-left: 65%; }
  #about-me .arrow {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    #about-me .arrow img {
      width: 5rem;
      margin-right: 4.5rem; }

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
