<nav
  class="navbar navbar-expand-lg bg-dark navbar-dark width-inherit boradius-05 mb-3"
>
  <div class="container">
    <a class="navbar-brand" href="/">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item ms-3">
          <a href="/about" class="nav-link nav-effect">About me</a>
        </li>
        <li class="nav-item ms-3">
          <a href="/blog" class="nav-link nav-effect">Blog</a>
        </li>
        <li class="nav-item ms-3" id="login-button-ctn">
          <button
            type="button"
            class="btn btn-warning"
            data-bs-toggle="modal"
            data-bs-target="#LoginModal"
            id="login-button"
          >
            Sign in
          </button>
          <div
            class="modal fade"
            id="LoginModal"
            tabindex="-1"
            aria-labelledby="LoginModal"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="LoginModal">Sign in</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div
                    scope="public_profile,email"
                    onlogin="checkLoginState();"
                    class="fb-login-button"
                    data-width=""
                    data-size="large"
                    data-button-type="continue_with"
                    data-layout="default"
                    data-auto-logout-link="false"
                    data-use-continue-as="false"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </li>
        
        <li class="nav-item ms-3">
          <div class="profile-picture"></div>
        </li>
        <li class="nav-item dropdown " id="logout-dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <li><a class="dropdown-item" href="#" id="logout-button">Log out</a></li>
              
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>