<nav class="navbar navbar-expand-lg bg-dark navbar-dark width-inherit boradius-05 mb-3">
  <div class="container">
    <a class="navbar-brand" href="/">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item ms-3">
          <a href="#" class="nav-link nav-effect">About me</a>
        </li>
        <li class="nav-item ms-3">
          <a href="/blog" class="nav-link nav-effect">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>