<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" type ="text/css" href="/css/carousel.css">
</head>
<body>
  <div class="boradius-05">
   <div id="myCarousel" class="carousel slide boradius-1" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active boradius-05" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" class ="boradius-05" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" class = "boradius-05" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner boradius-05">
      <div class="carousel-item active bg-1 bg-general">
         <img src="https://wallpapercave.com/dwp1x/wp3293630.jpg"  alt="">
        <div class="black-blur"> </div>
        {{!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> --}}

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Sign in right now!</h1>
            <p>Sign in to leave some comments at the blogs</p>
            <p><button
            type="button"
            class="btn btn-warning"
            data-bs-toggle="modal"
            data-bs-target="#LoginModal"
            id = "login-button--slider"
          >
            Sign in
          </button></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://wallpapercave.com/dwp1x/wp3293630.jpg"  alt="">
        <div class="black-blur"> </div>
        {{!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> --}}
        {{!-- <img src="https://wallpapercave.com/dwp1x/wp3293630.jpg" alt=""> --}}
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-info" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
         <img src="https://wallpapercave.com/dwp1x/wp3293630.jpg"  alt="">
        <div class="black-blur"> </div>
        {{!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> --}}

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-info" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
</body>
</html>