<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="about-me">
    <div class="port-pictureContainer">
        <div class="picture-content">
        <div class="left-greeting">Hi, I'm Dat!</div>
        <img src="/img/vestNoBG.png" alt="" class="port-picture">
        <div class="right-greeting">I'm a second year HUST student</div>
        </div>
    </div>
    <div class="favorite-things">
        <div class="favorite-title">Something that I like... :v</div>
        <div class="favorite-container">
            <div class="favorite-item">
                <img src="/img/ManU.png" alt="">
            </div>
            <div class="favorite-item"> <img src="/img/yasuo.png" alt=""></div>
            <div class="favorite-item"><img src="/img/money.png" alt=""></div>
        </div>
        <div class="purpose">
            <div class="purpose-title">Why this exist?</div>
            <div class="purpose-content">I make this blog to share my thinking about stuff and my little programming experience. 😶
                However, I just write one now =)), because I'm kind of lazy =))
            </div>
            
        </div>
        <div class="thank-part">
            <div class="thank-title">
                Thank you for entering and reaching until here 🙃
            </div>
            <div class="thank-content">
                Contact me or for more information
            </div>
            <div class="arrow">
                <img src="/img/arrow.png" alt="">
            </div>
        </div>
    </div>
    </div>
</body>
</html>