<div class="row">
  <div class="col-lg-3 col-sm-0">
    <div class="container-fluid pt-5 table-of-content sticky-top ms-5"></div>
  </div>
  <div class="container col-lg-6 col-sm-12 px-5 fs-5">
    <div class="container-fluid mt-5 mb-5">
      <img src="{{blog.image}}" alt="{{blog.name}}" id="thumnail" />
    </div>
    {{{blog.html}}}
  </div>
  <div class="other-blog col-lg-3 col-sm-0">other-blog</div>
</div>